<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:mvc="http://www.springframework.org/schema/mvc"
  xmlns:aop="http://www.springframework.org/schema/aop" 
  xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/aop  http://www.springframework.org/schema/aop/spring-aop-3.0.xsd  ">

    <!-- 
        <context:component-scan/> 扫描指定的包中的类上的注解，常用的注解有：
        
        @Controller 声明Action组件
        @Service    声明Service组件    @Service("myMovieLister") 
        @Repository 声明Dao组件
        @Component   泛指组件, 当不好归类时. 
        @RequestMapping("/menu")  请求映射
        @Resource  用于注入，( j2ee提供的 ) 默认按名称装配，@Resource(name="beanName") 
        @Autowired 用于注入，(srping提供的) 默认按类型装配 
        @Transactional( rollbackFor={Exception.class}) 事务管理
        @ResponseBody
        @Scope("prototype")   设定bean的作用域
     -->
     <!-- Spring容器优先加载由ServletContextListener（对应applicationContext.xml）产生的父容器，
         而SpringMVC（对应mvc_dispatcher_servlet.xml）产生的是子容器。
         子容器Controller进行扫描装配时装配的@Service注解的实例是没有经过事务加强处理，
         即没有事务处理能力的Service，而父容器进行初始化的Service是保证事务的增强处理能力的。
         如果不在子容器中将Service exclude掉，此时得到的将是原样的无事务处理能力的Service。 -->
     <context:component-scan base-package="com.inspur" use-default-filters="false">
         <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" /> 
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Service" />   
     </context:component-scan>
     
     <!-- 为spring容器中那些配置@Aspectj切面的bean创建代理 -->
     <aop:aspectj-autoproxy />
     
    <!-- 
        <mvc:annotation-driven /> 是一种简写形式，完全可以手动配置替代这种简写形式，简写形式可以让初学都快速应用默认配置方案。
        <mvc:annotation-driven /> 会自动注册DefaultAnnotationHandlerMapping与AnnotationMethodHandlerAdapter 两个bean,
             是spring MVC为@Controllers分发请求所必须的。并提供了：数据绑定支持，@NumberFormatannotation支持，
             @DateTimeFormat支持，@Valid支持，读写XML的支持（JAXB），读写JSON的支持（Jackson）。
            我们处理响应ajax请求时，就使用到了对json的支持。
            对action写JUnit单元测试时，要从spring IOC容器中取DefaultAnnotationHandlerMapping与AnnotationMethodHandlerAdapter 两个bean，
            来完成测试，取的时候要知道是<mvc:annotation-driven />这一句注册的这两个bean。
    -->
    <!-- 
    默认的注解映射的支持 
     如果使用了<mvc:annotation-driven />， 它会自动注册DefaultAnnotationHandlerMapping 与AnnotationMethodHandlerAdapter 
     这两个bean,所以就没有机会再给它注入interceptors属性，就无法指定拦截器。
    <mvc:annotation-driven /> -->  
    <mvc:annotation-driven>
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>application/json;charset=UTF-8</value>
                        <value>text/xml;charset=UTF-8</value>
                        <value>text/html;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>
 
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
        <property name="prefix" value="/html/"></property>
        <property name="suffix" value=".html"></property>
      </bean>
 
    <bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
        <property name="mediaTypes">
          <map>
            <entry key="json"  value="application/json" />
            <entry key="xml" value="text/xml" />
            <entry key="htm" value="text/html" />
          </map>
        </property>
        <property name="defaultContentType" value="application/json" />
      </bean>
    
    <!--配置拦截器, 多个拦截器,顺序执行 -->
    <mvc:interceptors>
        <mvc:interceptor> 
            <mvc:mapping path="/**" />
            <bean class="com.inspur.lambo.framework.mvc.AuthInteceptor"></bean>
        </mvc:interceptor>
        <!-- 当设置多个拦截器时，先按顺序调用preHandle方法，然后逆序调用每个拦截器的postHandle和afterCompletion方法 -->
    </mvc:interceptors>
         
    <mvc:default-servlet-handler/> 
    
    <mvc:resources mapping="/skins/**" location="/skins/" cache-period="31556926"/>
    <mvc:resources mapping="/jsp/**" location="/WEB-INF/jsp/" cache-period="31556927"/>
    
    <!-- 全局异常配置   -->
    <bean id="exceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
        <property name="exceptionMappings">
            <props>
                <prop key="java.lang.Exception">error/error</prop>
                <prop key="com.inspur.lambo.framework.exception.UrlVisitNoPermitException">error/nopermit</prop>
            </props>
        </property>
        <!-- 设置日志输出级别，不定义则默认不输出警告等错误日志信息 -->
        <property name="warnLogCategory" value="WARN"></property>
        <!-- 默认错误页面，当找不到上面mappings中指定的异常对应视图时，使用本默认配置 -->
        <property name="defaultErrorView" value="error/error"></property>
        <!-- 默认HTTP状态码 设置为200是为了让应用的错误页面能正常输出，而不被tomcat的错误页拦截 -->
        <property name="defaultStatusCode" value="200"></property>
    </bean>
    
</beans>